# Основные зависимости
opencv-python>=4.5.5             # Библиотека для работы с изображениями и видео (с поддержкой GUI)
numpy>=1.21.0                    # Библиотека для работы с массивами и математическими операциями
requests>=2.26.0                 # Библиотека для выполнения HTTP-запросов (используется для отправки уведомлений в Telegram)
aiohttp>=3.8.1                   # Асинхронная библиотека для HTTP-запросов
ultralytics>=8.0.0               # Библиотека для работы с YOLOv8 (обнаружение объектов)
ffmpeg-python>=0.2.0             # Обертка для работы с FFmpeg (захват и обработка видео)
aiofiles>=23.1.0                 # Асинхронная работа с файлами